.about {
    padding: 60px 0 0 0;
}
.about__title-h1 {
    font-weight: 600;
    font-size: 54px;
    padding-bottom: 40px;
}
.about__title-h2 {
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 20px;  text-transform: uppercase;
}
.abiut__text {
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 40px;
    /* gap: 40px; */
}

.abiut__text-dop{
    padding-top: 40px;
}
.about__images {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    margin-bottom: 50px;
}

.abiut__text-line {
    color: #67B6FF;
}