html {
    box-sizing: border-box;
}

*,*::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a , p {
    color: #000;
    text-decoration: none;
}

.container-footer {
    max-width: 1820px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer{
    background-color: #F7F8FA;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 24px;
}


.footer__inner {
    padding: 20px 0 40px 0;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__inner__nav__blocks-block {
    padding-right: 80px;
}

.footer__inner__contact-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__inner__contact__logo-text {
    font-weight: 900;
    font-size: 36px;
}

.footer__inner-contact-number {
    font-weight: 500;
    font-size: 32px;
}

.footer__inner__nav-blocks {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.footer__inner__nav-block-title {
    font-size: 36px;
    padding-bottom: 10px;
}


.footer__inner__nav-block-text {
    font-size: 28px;
    padding-top: 10px;
    transition: color 0.2s ease;
}

.footer__inner__nav-block-text:hover {
    color: #67B6FF;
}

