
.profile {
    padding: 80px 0;
}
.profil__titel {
    font-size: 54px;
    padding-bottom: 60px;
    font-weight: 600;
}
.profile__form {
}
.profil__blocks-title {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 30px;
}
.profil__blocks {
    display: block;
}
.profil__block {
}
.profil__block-text {
}
.profil__block-content {
}
.profil__block-content-input {
}
.profil__block-content__input-wrapper {
}
.profil__block__content-group {
}
.pro__blo__con-checkdox {
}
.pro__checkbox-input {
}
.profil__block-checkbox {
}
.pro__checkbox-text {
}